body {
  font-family: arial, sans-serif;

  background: radial-gradient(
    circle at 7.4% 45.1%,
    rgb(236, 206, 251) 0%,
    rgb(205, 237, 246) 45.1%,
    rgb(227, 251, 252) 78.4%,
    rgb(230, 247, 235) 90%
  );
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
h1#city {
  margin-top: 15px;
}
ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rbg(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}

input[type="submit"].btn-btn-primary {
  background-color: #6c757d;
  border-radius: 13%;
  border-color: beige;
  padding: 5px;
}
input[type="submit"].btn-btn-primary:hover {
  color: #6c757d;
  border-color: beige;
  background-color: beige;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 3px solid #dadde1;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rbg(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.slider {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
}

.slider.round {
  border-radius: 50%;
}
